@import '../../common/styles/sass/variables';

.projects {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: $primaryColor;

  .projectsBlock {
    .title {
      color: $secondColor;
      border: 8px solid $secondColor;
    }
    .cardBlock {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
