.projects {
    padding-top: 80px;
    padding-bottom: 80px;
    background: beige;
}

.projectsBlock {
    border: 1px solid;
}

.titleContainer {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    margin-bottom: 80px;
}

.span {
    background-color: aquamarine;
}

.cardBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid;
}

.cardBody {
    text-align: center;
    border: 1px solid;
    width: 450px;
}

.headerCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: dimgray;
    background-size: cover;
    background-position: center;
}

.btn {
    padding: 10px 25px;
    background: #c0f4e1;
    border-radius: 10px;
}

