.invite {
    padding-top: 80px;
    padding-bottom: 80px;

}
.inviteBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
}
.title {
    margin-bottom: 35px;
    background: aquamarine;
}
.btn {
    padding: 10px 25px;
    background: #c0f4e1;
    border-radius: 10px;
}
