@import '../../common/styles/sass/variables';

.invite {
    padding-top: 80px;
    padding-bottom: 80px;
    .title{
        color: $secondColor;
        border: 8px solid $secondColor;
    }
    .inviteBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        .subTitle {
            margin-bottom: 35px;
            color: $secondColor;
        }
        .button {
            color: $secondColor;
            border-left: 4px solid $secondColor;
            border-right: 4px solid $secondColor;
        }

        .button:hover {
            transition: 0.7s;
            color: $secondColor;
            background-color: $secondColor;
            padding-left: 17px;
            padding-right: 17px;

        }
    }

}



