@import '../../common/styles/sass/variables';

.invite {
    padding-top: 80px;
    padding-bottom: 80px;
    .title{
        color: $primaryColor;
        border: 8px solid $primaryColor;
    }
    .inviteBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        .subTitle {
            margin-bottom: 35px;
        }
        .btn {
            padding: 10px 25px;
            background: #c0f4e1;
            border-radius: 10px;
        }
    }

}



