@import "../../common/styles/sass/variables";

.skills {
    padding-top: 80px;
    padding-bottom: 80px;
    .skillsBlock {
        .title {
            text-align: center;
            margin-bottom: 80px;
            border: 8px solid $primaryColor;
            color: $primaryColor
        }
        .cardBlock {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

}





