@import '../../../common/styles/sass/variables';


.cardBody {
  text-align: center;
  width: 450px;

  .cardHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: dimgray;
    background-size: cover;
    background-position: center;

    .btn {
      padding: 10px 25px;
      background: #c0f4e1;
      border-radius: 10px;
    }
  }

  .cardFooter {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: $someColor;
    color: $secondColor;
    .title{
      padding: 10px 0;
      font-size: 24px;
      line-height: 24px;
    }
    .description{
      padding: 0 15px 15px 10px;
      font-size: 14px;
      line-height: 24px;
    }
  }
}



