@import "../../common/styles/sass/variables";

.navBlock {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .bodyLinks {
        display: flex;
        gap: 40px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 10px;
        line-height: 56%;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        cursor: pointer;
        .link{
            color: $someText;
        }
        .link:hover{
            font-weight: 500;
            color: $secondColor;
        }
        .linkActive{
            font-size: 12px;
            font-weight: 500;
            color: $secondColor;
        }
    }
}

