.footerBlock {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    background: #dfdbdb;
}

.contentBlock {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 30px;
    background: aquamarine;
}

.cardBlock {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    border: 1px solid;
}

.item {
    width: 50px;
    height: 50px;
    background: aquamarine;
}

.copy {
    margin-top: 30px;
    background: aquamarine;
}