@import '../../common/styles/sass/variables';

.footerBlock {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
  background-color: $someColor;

  .contentBlock {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      margin-bottom: 30px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: $secondColor
    }

    .cardBlock {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 42px;
      background-size: cover;
      background-position: center;

      .item {
        width: 50px;
        height: 50px;
        cursor: pointer;

        .img {
          width: 100%;
          height: 100%;
          color: aquamarine;
        }
        .img:hover{
          fill: $secondColor;
        }
      }

    }

    .copy {
      margin-top: 30px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: $secondColor
    }
  }
}









